#include "resource.h"
#include "winuser.h"

IDI_ID ICON "msys2.ico"

#include "splash_frames.rc2"

IDC_UNLOCKERDIALOG DIALOGEX 0, 0, 330, 100
STYLE DS_CENTER | WS_THICKFRAME | WS_SYSMENU | WS_HSCROLL | WS_VSCROLL
CAPTION "MSYS2 needs to replace some in-use files. Please close the following programs"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
//     LTEXT "Distance",IDC_STATIC,7,48,29,8
END
