
## Nano editor syntax highlighting enhancements

## Apache
include "/usr/share/nano-syntax-highlighting/apacheconf.nanorc"

## Arduino
include "/usr/share/nano-syntax-highlighting/arduino.nanorc"

## AsciiDoc
include "/usr/share/nano-syntax-highlighting/asciidoc.nanorc"

## ASM
include "/usr/share/nano-syntax-highlighting/asm.nanorc"

## Awk
include "/usr/share/nano-syntax-highlighting/awk.nanorc"

## C
include "/usr/share/nano-syntax-highlighting/c.nanorc"

## Clojure
include "/usr/share/nano-syntax-highlighting/clojure.nanorc"

## CMake
include "/usr/share/nano-syntax-highlighting/cmake.nanorc"

## CoffeeScript
include "/usr/share/nano-syntax-highlighting/coffeescript.nanorc"

## ColorTest
include "/usr/share/nano-syntax-highlighting/colortest.nanorc"

## .conf
include "/usr/share/nano-syntax-highlighting/conf.nanorc"

## Conky
include "/usr/share/nano-syntax-highlighting/conky.nanorc"

## C#
include "/usr/share/nano-syntax-highlighting/csharp.nanorc"

## CSS
include "/usr/share/nano-syntax-highlighting/css.nanorc"

## Cython
include "/usr/share/nano-syntax-highlighting/cython.nanorc"

## dot (.dot) files
include "/usr/share/nano-syntax-highlighting/dot.nanorc"

## Email
include "/usr/share/nano-syntax-highlighting/email.nanorc"

## eRuby
include "/usr/share/nano-syntax-highlighting/erb.nanorc"

## Fish (Shell)
include "/usr/share/nano-syntax-highlighting/fish.nanorc"

## Fortran
include "/usr/share/nano-syntax-highlighting/fortran.nanorc"

## Gentoo ebuild
include "/usr/share/nano-syntax-highlighting/gentoo.nanorc"

## Git
include "/usr/share/nano-syntax-highlighting/git.nanorc"

## Git (legacy symlink)
# include "/usr/share/nano-syntax-highlighting/gitcommit.nanorc"

## GLSL
include "/usr/share/nano-syntax-highlighting/glsl.nanorc"

## Go
include "/usr/share/nano-syntax-highlighting/go.nanorc"

## Groff
include "/usr/share/nano-syntax-highlighting/groff.nanorc"

## Haml
include "/usr/share/nano-syntax-highlighting/haml.nanorc"

## Haskell
include "/usr/share/nano-syntax-highlighting/haskell.nanorc"

## HTML
include "/usr/share/nano-syntax-highlighting/html.nanorc"

## ical
include "/usr/share/nano-syntax-highlighting/ical.nanorc"

## .INI
include "/usr/share/nano-syntax-highlighting/ini.nanorc"

## inputrc
include "/usr/share/nano-syntax-highlighting/inputrc.nanorc"

## Java
include "/usr/share/nano-syntax-highlighting/java.nanorc"

## JS
include "/usr/share/nano-syntax-highlighting/javascript.nanorc"

## JS (OLD)
# include "/usr/share/nano-syntax-highlighting/js.nanorc"

## JSON
include "/usr/share/nano-syntax-highlighting/json.nanorc"

## Keymap
include "/usr/share/nano-syntax-highlighting/keymap.nanorc"

## Kicksart
include "/usr/share/nano-syntax-highlighting/kickstart.nanorc"

## ledger
include "/usr/share/nano-syntax-highlighting/ledger.nanorc"

## Lisp
include "/usr/share/nano-syntax-highlighting/lisp.nanorc"

## LUA
include "/usr/share/nano-syntax-highlighting/lua.nanorc"

## GNU Make
include "/usr/share/nano-syntax-highlighting/makefile.nanorc"

## man
include "/usr/share/nano-syntax-highlighting/man.nanorc"

## Markdown
include "/usr/share/nano-syntax-highlighting/markdown.nanorc"

## mpd.conf
include "/usr/share/nano-syntax-highlighting/mpdconf.nanorc"

## Mutt
include "/usr/share/nano-syntax-highlighting/mutt.nanorc"

## .nanorc
include "/usr/share/nano-syntax-highlighting/nanorc.nanorc"

## nginx
include "/usr/share/nano-syntax-highlighting/nginx.nanorc"


## ocaml
include "/usr/share/nano-syntax-highlighting/ocaml.nanorc"

## patch/diff
include "/usr/share/nano-syntax-highlighting/patch.nanorc"

## peg
include "/usr/share/nano-syntax-highlighting/peg.nanorc"

## Perl
include "/usr/share/nano-syntax-highlighting/perl.nanorc"

## Perl6
include "/usr/share/nano-syntax-highlighting/perl6.nanorc"

## PHP
include "/usr/share/nano-syntax-highlighting/php.nanorc"

## PKG-CONFIG
include "/usr/share/nano-syntax-highlighting/pkg-config.nanorc"

## PKGBUILD
include "/usr/share/nano-syntax-highlighting/pkgbuild.nanorc"

## PO
include "/usr/share/nano-syntax-highlighting/po.nanorc"

## POV
include "/usr/share/nano-syntax-highlighting/pov.nanorc"

## Privoxy
include "/usr/share/nano-syntax-highlighting/privoxy.nanorc"

## Puppet
include "/usr/share/nano-syntax-highlighting/puppet.nanorc"

## Python
include "/usr/share/nano-syntax-highlighting/python.nanorc"

## reST
include "/usr/share/nano-syntax-highlighting/reST.nanorc"

## RPM .spec
include "/usr/share/nano-syntax-highlighting/rpmspec.nanorc"

## Ruby
include "/usr/share/nano-syntax-highlighting/ruby.nanorc"

## Scala
include "/usr/share/nano-syntax-highlighting/scala.nanorc"

## sed
include "/usr/share/nano-syntax-highlighting/sed.nanorc"

## Shell
include "/usr/share/nano-syntax-highlighting/sh.nanorc"

## SLS
include "/usr/share/nano-syntax-highlighting/sls.nanorc"

## SQL
include "/usr/share/nano-syntax-highlighting/sql.nanorc"

## Swift
include "/usr/share/nano-syntax-highlighting/swift.nanorc"

## systemd
include "/usr/share/nano-syntax-highlighting/systemd.nanorc"

## TCL
include "/usr/share/nano-syntax-highlighting/tcl.nanorc"

## Tex
include "/usr/share/nano-syntax-highlighting/tex.nanorc"

## Vala
include "/usr/share/nano-syntax-highlighting/vala.nanorc"

## Vi
include "/usr/share/nano-syntax-highlighting/vi.nanorc"

## XML
include "/usr/share/nano-syntax-highlighting/xml.nanorc"

## Xrecources
include "/usr/share/nano-syntax-highlighting/xresources.nanorc"

## YAML
include "/usr/share/nano-syntax-highlighting/yaml.nanorc"

## yum (rpm)
include "/usr/share/nano-syntax-highlighting/yum.nanorc"

## ZSH
include "/usr/share/nano-syntax-highlighting/zsh.nanorc"

