
## Nano editor syntax highlighting enhancements

## Apache files
include "/usr/share/nano-syntax-highlighting/apacheconf.nanorc"

## Assembler
include "/usr/share/nano-syntax-highlighting/asm.nanorc"

## C/C++
include "/usr/share/nano-syntax-highlighting/c.nanorc"

## Cmake
include "/usr/share/nano-syntax-highlighting/cmake.nanorc"

## .conf files
include "/usr/share/nano-syntax-highlighting/conf.nanorc"

## CSS
include "/usr/share/nano-syntax-highlighting/css.nanorc"

## Cython
include "/usr/share/nano-syntax-highlighting/cython.nanorc"

## Fortran
include "/usr/share/nano-syntax-highlighting/fortran.nanorc"

## makefile .am
include "/usr/share/nano-syntax-highlighting/gentoo.nanorc"

## GIT Commint
include "/usr/share/nano-syntax-highlighting/gitcommit.nanorc"

## groff
include "/usr/share/nano-syntax-highlighting/groff.nanorc"

## Haml
include "/usr/share/nano-syntax-highlighting/haml.nanorc"

## HTML
include "/usr/share/nano-syntax-highlighting/html.nanorc"

## Java
include "/usr/share/nano-syntax-highlighting/java.nanorc"

## JS
include "/usr/share/nano-syntax-highlighting/js.nanorc"

## Lua
include "/usr/share/nano-syntax-highlighting/lua.nanorc"

## Manpages
include "/usr/share/nano-syntax-highlighting/man.nanorc"

## Mutt
include "/usr/share/nano-syntax-highlighting/mutt.nanorc"

## nanorc files
include "/usr/share/nano-syntax-highlighting/nanorc.nanorc"

## Patch files
include "/usr/share/nano-syntax-highlighting/patch.nanorc"

## Perl
include "/usr/share/nano-syntax-highlighting/perl.nanorc"

## php
include "/usr/share/nano-syntax-highlighting/php.nanorc"

## PKGBUILD
include "/usr/share/nano-syntax-highlighting/pkgbuild.nanorc"

## POV-Ray
include "/usr/share/nano-syntax-highlighting/pov.nanorc"

## Python
include "/usr/share/nano-syntax-highlighting/python.nanorc"

## reST
include "/usr/share/nano-syntax-highlighting/reST.nanorc"

## Ruby
include "/usr/share/nano-syntax-highlighting/ruby.nanorc"

## Bourne shell scripts
include "/usr/share/nano-syntax-highlighting/sh.nanorc"

## TeX
include "/usr/share/nano-syntax-highlighting/tex.nanorc"

## XML
include "/usr/share/nano-syntax-highlighting/xml.nanorc"

## ZSH
include "/usr/share/nano-syntax-highlighting/zshrc.nanorc"


