<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Git for Windows SDK @BITNESS@bit</Name>
    <Version>@VERSION@</Version>
    <Title>Git for Windows SDK @BITNESS@bit</Title>
    <Publisher>The Git for Windows Developers</Publisher>
    <StartMenuDir>Git for Windows SDK @BITNESS@bit</StartMenuDir>
    <RunProgram>@TargetDir@/msys2_shell.bat</RunProgram>
    <RunProgramArguments></RunProgramArguments>
    <InstallerApplicationIcon>../../git-sdk</InstallerApplicationIcon>
    <InstallerWindowIcon>../../git-sdk.ico</InstallerWindowIcon>
</Installer>
