<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MSYS2 @BITNESS@bit</Name>
    <Version>@VERSION@</Version>
    <Title>MSYS2 @BITNESS@bit</Title>
    <Publisher>The MSYS2 Developers</Publisher>
    <StartMenuDir>MSYS2 @BITNESS@bit</StartMenuDir>
    <RunProgram>@TargetDir@/msys2_shell.bat</RunProgram>
    <RunProgramArguments></RunProgramArguments>
    <InstallerApplicationIcon>../../msys2</InstallerApplicationIcon>
    <InstallerWindowIcon>../../msys2</InstallerWindowIcon>
</Installer>
