<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MSYS2</Name>
    <Version>@VERSION@</Version>
    <Title>MSYS2</Title>
    <Publisher>The MSYS2 Developers</Publisher>
    <StartMenuDir>MSYS2</StartMenuDir>
    <RunProgram>@TargetDir@/msys2_shell.bat</RunProgram>
    <RunProgramArguments>-c exit</RunProgramArguments>
    <InstallerApplicationIcon>../../msys2</InstallerApplicationIcon>
    <InstallerWindowIcon>../../msys2</InstallerWindowIcon>
</Installer>
